@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'poppins', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-size:cover;
  background-color: #FEFAEE;
  background-image: url('/public/bck3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  

}

code {
  font-family: 'poppins', sans-serif;
}


